## Explore Data

In [1]:
# The code was removed by Watson Studio for sharing.

,Account,Date,Original Date,Description,Original Description,Amount,Currency,Category,Budget
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BASAVARA M S,13-11-2021,13-11-2021,S Jagannath SRIVIDYA JAGANNATH,S Jagannath SRIVIDYA JAGANNATH,2000.00,GBP,Transfers,unbudgeted
2,BASAVARA M S,09-11-2021,09-11-2021,EDF ENERGY,EDF ENERGY,-235.26,GBP,Bills,unbudgeted
3,BASAVARA M S,09-11-2021,09-11-2021,400944 70303798 INTERNET TRANSFER,400944 70303798 INTERNET TRANSFER,500.00,GBP,Transfers,unbudgeted
4,BASAVARA M S,08-11-2021,08-11-2021,PAYPAL *ROYAL MAIL35314369001,PAYPAL *ROYAL MAIL35314369001,-0.66,GBP,General,unbudgeted